<?xml version="1.0"?>
<ruleset name="Anar Login">
	<description>WordPress coding standards for Anar Login.</description>
	<file>anar-login.php</file>
	<file>src</file>
	<file>tests</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>
	<config name="testVersion" value="7.4-"/>
	<rule ref="WordPress">
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
		<exclude name="Squiz.Commenting.VariableComment.Missing"/>
		<exclude name="Universal.Files.SeparateFunctionsFromOO.Mixed"/>
		<exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames"/>
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound"/>
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery"/>
		<exclude name="WordPress.DB.SlowDBQuery"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>
	<rule ref="WordPress-Extra">
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
		<exclude name="Squiz.Commenting.VariableComment.Missing"/>
		<exclude name="Universal.Files.SeparateFunctionsFromOO.Mixed"/>
		<exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames"/>
		<exclude name="Universal.Operators.DisallowShortTernary"/>
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound"/>
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery"/>
		<exclude name="WordPress.DB.SlowDBQuery"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>
	<rule ref="PHPCompatibility"/>
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>src/*</exclude-pattern>
	</rule>
</ruleset>
